@media (max-width: 910px) {
    .logo h2 {
        font-size: 27px;
    }
    .menubar ul li a {
        font-size: 14px;
    }
}
@media (max-width: 775px) {
    .menu {
        height: 65px;
    }
    .logo h2 {
        font-size: 21px;
        line-height: 65px;
    }
    .menubar ul li a {
        font-size: 11px;
        line-height: 67px;
    }
}
@media (max-width: 675px) {
    .menubar ul li a {
        font-size: 11px;
        line-height: 67px;
        margin-left: -12px;
    }
    .logo h2 {
        font-size: 19px;
        font-weight: 600;
    }
}
@media (max-width: 600px) {
    .menu {
        height: auto;
    }
    .logo {
        width: 100%;
        display: block;
        text-align: center;
    }
    .logo h2 {
        font-size: 22px;
        font-weight: bold;
        padding-left: 0;
        margin: 0;
    }
    .menubar {
        width: 100%;
        display: block;
    }
    .menubar ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .menubar ul li a {
        font-size: 14px;
        line-height: 57px;
        font-weight: 600;
    }
}
@media (max-width: 360px) {
    .menubar ul li a {
        font-size: 11px;
        line-height: 40px;
    }
    .menubar ul li {
        margin-left: 20px;
    }
    .menubar ul li:nth-child(1) {
        margin-left: -0px;
    }
}
@media (max-width: 310px) {
    .menubar ul li {
        display: block;
        margin-left: 0;
    }
    .menubar ul li a {
        display: block;
    }
}
@media (max-width: 710px) {
    .banner h1 {
        font-size: 44px;
    }
    .banner{
        padding: 125px 0;
    }
    .clickMe {
        padding: 10px 20px;
        font-size: 17px;
    }
}
@media (max-width: 500px) {
    .banner h4 {
        font-size: 19px;
        padding-bottom: 31px;
    }
    .banner h1 {
        font-size: 37px;
    }
    .clickMe {
        padding: 8px 17px;
        font-size: 15px;
    }
    .banner {
        padding: 100px 0;
    }
}
@media (max-width: 1125px) {
    .icon1 {
        font-size: 30px;
    }
    .services h3 {
        word-spacing: 3px;
        font-size: 22px;
        font-weight: 600;
    }
    .services p {
        font-size: 14px;
        padding-top: 10px;
    }
    .services {
        width: 21%;
        margin-right: 33px;
    }
    .part2 {
        margin: 86px 0 112px 61px;
    }
}
@media (max-width: 930px) {
    .services {
        width: 18%;
        margin-right: 50px;
    }
}
@media (max-width: 775px) {
    .services {
        width: 40%;
        margin-right: 50px;
    }
}
@media (max-width: 560px) {
    .services {
        width: 35%;
        margin-right: 64px;
    }
}
@media (max-width: 490px) {
    .services {
        float: none;
        display: block;
        margin: auto;
        width: 70%;
    }
    .part2 {
        margin: 50px auto;
    }
}
@media (max-width: 715px) {
    .img_section {
        display: block;
        margin: auto;
        margin-right: 20px;
    }
    img {
        max-width: 100%;
    }
    .details {
        float: none;
        width: auto;
        margin: 0;
    }
}
@media (max-width: 550px) {
    .img_section {
         float: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 1250px) {
    .contact_info {
        margin-right: 43px;
    }
    .contact_part2 {
        padding-left: 215px;
        margin-left: auto;
    }
    .contact_part1 p {
        padding: 50px;
    }
}
@media (max-width: 865px) {
    .contact_part2 {
        margin-left: 0;
        padding-left: 0;
    }
    .contact_info {
        margin-right: 0;
        margin: 0 55px;
    }
}
@media (max-width: 825px) {
    .contact_info {
        margin-right: 0;
        margin: 0 9px;
        width: 22%;
    }
    .contact_part2 {
        margin-left: 0;
        padding-left: 152px;
    }
}
@media (max-width: 735px) {
    .contact_info {
        margin-right: 0;
        margin: 0;
        width: 100%;
        padding: 26px 0;
    }
    .contact_part2 {
        margin-left: 0;
        padding-left: 0;
    }
    .contact {
        padding: 70px 0 0 0;
    }
}